################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Aspbackend/FileContentIndex/3ae74a3a-9281-40af-8f5e-533d091cf989.vsidx
/.vs/Aspbackend/FileContentIndex
